<h2>Frequently Asked Questions</h2>

<strong>Q: Why can I not edit records></strong>
<p>A: wikiMemories is all about community. Since users can rank memories, we cannot allow these to change. Small changes (such as typo's or spelling errors) can be made by contacting admin. For bigger changes, a new record must be created.</p>