  @media only screen
  and (min-device-width: 768px) {
/*
    .container {
      margin: 0;
      position: relative;
      float: right;
    }

    .row {
      display: block;
      margin: 0 -10px;
    }*/

    .box {
      display: inline-block;
      margin-right: -4px;
      padding: 0 10px;
      vertical-align: top;
      box-sizing: border-box;
    }


    .box-1 {
      width: 8.3333333%;
    }

    .box-2 {
      width: 16.6666666%;
    }

    .box-3 {
      width: 25%;
    }

    .box-4 {
      width: 33.33333333%;
    }

    .box-5 {
      width: 41.66666666%;
    }

    .box-6 {
      width: 50%;
    }

    .box-7 {
      width: 58.3333333%;
    }

    .box-8 {
      width: 66.6666666%;
    }

    .box-9 {
      width: 75%;
    }

    .box-10 {
      width: 83.333333%;
    }

    .box-11 {
      width: 91.6666666%;
    }

    .box-12 {
      width: 100%;
    }
}